* {
    box-sizing:border-box;
    color: #e3e3e3;
}

body, html {
    margin: 0px;
    padding: 0px;
}

body {
    background: radial-gradient(#69fcff, #9fa0a1);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.simple-mode, .math-mode, .toggle-btn {
    background-color: #78797a;
    border: 1px solid black;
    border-radius: 10px;
}

.simple-mode {
    width: 500px;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.math-mode {
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.math-mode {
    display: flex;
    flex-direction: row;
}

.top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottom {
}

.screen, .screen-large {
    background-color: lightgray;
    margin-top: 25px;
    width: 80%;
    height: 100px;
    border-radius: 10px;

}

.screen-large {
    height: 150px;
}


.button-grid {
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

/* buttons */

.toggle-btn {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
}

.simple-button {
    background-color: #78797a;
    border: 1px solid black;
    border-radius: 10px;

    margin: 5px;
    padding: 5px;

    height: 60px;
    width: 60px;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* tablet layout */

@media only screen and (max-width: 1000px) {
    .math-mode {
        width: 600px;
        height: 90%;
    }

    .math-mode {
        display: flex;
        flex-direction: column;
    }

    .toggle-btn {
        width: 200px;
    }
}

/* mobile layout */

@media only screen and (max-width: 600px) {
    .simple-mode {
        width: 92%;
        height: 500px;
    }

    .math-mode {
        width: 95%;
        height: 90%;
    }

    .math-mode {
        display: flex;
        flex-direction: column;
    }

    .toggle-btn {
        width: 200px;
    }
}

/* flex classes */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* useful general classes */

.hide {
    display: none;
}