* {
    box-sizing:border-box;
    color: #e3e3e3;
}

body, html {
    margin: 0px;
    padding: 0px;
}

body {
    /* background-color: #9fa0a1; */
    background: radial-gradient(#69fcff, #9fa0a1);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.calculator, .calculator-side, .toggle-btn {
    background-color: #78797a;
    border: 1px solid black;
    border-radius: 10px;
}

.calculator {
    width: 500px;
    height: 600px;
}

.calculator-side {
    width: 250px;
    height: 500px;
}

/* buttons */

.toggle-btn {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
}

.math-mode {
    display: flex;
    flex-direction: row;
}

/* mobile layout */

@media only screen and (max-width: 600px) {
    .calculator {
        width: 300px;
        height: 433px;
    }

    .toggle-btn {
        width: 150px;
    }

    .calculator-side {
        width: 300px;
        height: 300px;
    }

    .math-mode {
        display: flex;
        flex-direction: column;
    }
  }

/* flex classes */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}